<section>
  <h1>大課題1のTwitterっぽいアプリ</h1>
  <p>大課題1のために作られたツイートするためのアプリのトップページです
  </p>
  <img src="<%= asset_path "gatag-00003813.jpg" %>">
</section>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
